<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>MIN_PUBLIC_NETWORK_ID</key>
	<string>${MIN_PUBLIC_NETWORK_ID}</string>
	<key>NSFaceIDUsageDescription</key>
	<string>Using Face ID to login</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>MIN_GRAPHQL_URL</key>
	<string>${MIN_GRAPHQL_URL}</string>
	<key>MIN_KEYCHAIN_ACCESS_GROUP</key>
	<string>${MIN_KEYCHAIN_ACCESS_GROUP}</string>
	<key>MIN_KEYCHAIN_SERVICE_NAME</key>
	<string>${MIN_KEYCHAIN_SERVICE_NAME}</string>
	<key>MIN_PASS_DEFAULT_FOR_FACE_ID</key>
	<string>${MIN_PASS_DEFAULT_FOR_FACE_ID}</string>
	<key>UIAppFonts</key>
	<array>
		<string>InterDisplay-SemiBold.ttf</string>
		<string>InterDisplay-Regular.ttf</string>
		<string>InterDisplay-Bold.ttf</string>
		<string>InterDisplay-Medium.ttf</string>
		<string>Inter-Regular.ttf</string>
		<string>Inter-Medium.ttf</string>
		<string>Inter-SemiBold.ttf</string>
		<string>Inter-Bold.ttf</string>
	</array>
</dict>
</plist>
