#include "AppConfig.xcconfig"

//TODO: Change url production ?
MIN_GRAPHQL_URL      = https:\/\/monorepo-testnet-preprod.minswap.org\/graphql
MIN_PUBLIC_NETWORK_ID = mainnet
MIN_TRANSACTION_URL = https:/\/\preprod.cardanoscan.io\/transaction

MIN_MIN_TOKEN = 29d222ce763455e3d7a09a665ce554f00ac89d2e99a1a83d267170c6.4d494e
MIN_LP_TOKEN = e4214b7cce62ac6fbba385d164df48e157eae5863521b4b67ca71d86
MIN_ADA_TOKEN = lovelace
