#include "AppConfig.xcconfig"

//TODO: Change url production ?
MIN_URL      = https:\/\/minswap.org
MIN_PUBLIC_NETWORK_ID = mainnet
MIN_TRANSACTION_URL = https:/\/\cardanoscan.io
MIN_HANDLE_ADA_NAME_URL = https:/\/\api.handle.me\/handles

MIN_MIN_TOKEN = 29d222ce763455e3d7a09a665ce554f00ac89d2e99a1a83d267170c6.4d494e
MIN_MINT_TOKEN = 29d222ce763455e3d7a09a665ce554f00ac89d2e99a1a83d267170c6.4d494e74
MIN_LP_TOKEN = e4214b7cce62ac6fbba385d164df48e157eae5863521b4b67ca71d86
MIN_ADA_TOKEN = lovelace
MIN_ADA_CURRENCY = ₳
MIN_ADDRESS_PREFIX = addr1
MIN_ABOUT_URL = https:\/\/minswap.org
